.label {
  position: relative;
  display: inline-block;
}

.searchIcon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.searchInput {
  border-radius: 30px;
  padding: 12px 40px 12px 12px;
  border: none;
  width: 295px;
  height: 42px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #262626;
  border: 1px solid rgba(38, 38, 38, 0.15);
}

.searchInput::placeholder {
  color: #262626;
}

@media (min-width: 768px) {
  .searchInput {
    width: 265px;
    padding: 14px;
    font-size: 16px;
    line-height: 1.25;
    height: 48px;
  }
}
